/*/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: forestgreen;
    background-color: forestgreen;
    border-color: #1861ac;
}

@@ -69,3 +73,28 @@ body {
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.home-form-control {
    /*width: 100px;*/
}


.submit-form-control {
    flexbox: center;
}


.savedalbums {
    display: flex;
    justify-content: space-around;
}

.table {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.home-album-card {
    display: flex;
    flex-direction: column;
}

.home-album-list {
    display: flex;
    flex-direction: row;
}

.album-button-card {
    display: flex;
    justify-content: flex-start
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: center;*/
}

.name-instrument-list {
    display: flex;
    justify-content: flex-end;
}
